<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="mapper">
    <resultMap id="item" type="com.kmong.template.backend.domain.item.dto.ItemDTO">
        <id     column="id"          property="id"/>
        <result column="title"       property="title"/>
        <result column="content"     property="content"/>
        <result column="created_at"  property="createdAt"/>
        <collection property="imageList" resultMap="itemImage"/>
    </resultMap>

    <resultMap id="itemImage" type="com.kmong.template.backend.domain.item.dto.ItemImageDTO">
        <id     column="image_id"             property="id"/>
        <result column="origin_img_name"    property="originImgName"/>
        <result column="attached_img_name"  property="attachedImgName"/>
        <result column="is_main"            property="isMain"/>
        <result column="item_id"            property="itemId"/>
    </resultMap>

    <!-- 등록 -->
    <insert id="reg">
        INSERT INTO items (
            id
            , title
            , content
            , created_at
        ) VALUES (
            #{id}
            , #{title}
            , #{content}
            , #{createdAt}
        )
    </insert>

    <!-- 이미지 등록 -->
    <insert id="regImages">
        INSERT INTO item_images (
            origin_img_name
            , attached_img_name
            , is_main
            , id
        )
        VALUES
        <foreach collection="imageList" item="img" separator=",">
            (#{img.originImgName}, #{img.attachedImgName}, #{img.isMain}, #{img.id})
        </foreach>
    </insert>

    <!-- 다음 id 조회 -->
    <select id="getNextNum" resultType="int">
        SELECT IFNULL(MAX(id), 0) + 1
        FROM items;
    </select>

</mapper>































