@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #8b5cf6;
  --color-accent: #f59e0b;
  --color-neutral: #f3f4f6;

  --font-sans: "Pretendard", sans-serif;
  --font-mono: "Fira Code", monospace;

  --radius-base: 0.5rem;
  --radius-lg: 1rem;
}
